<<<<<<< HEAD
body{
=======
body {
>>>>>>> 0873a9f78480387e750bae87238bd15c530affb1
    background-color: #f2f2f2;
}

nav{
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.font_type{
    font-family: "poppins", "sans-serif";
}


.heading {
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: white;
    padding: 10px;
    font-family: "poppins" , "sans-serif";
    margin-bottom: 30px;

}

.introd_div{
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.main_image{
    height: 350px;
    width: 450px;
    border-radius: 10px;
}

.text_color{
    background-color: #09a803;
    height: 50px;
    color: hsl(120, 10%, 96%);
    font-size: x-large;
    border-radius: 10px;
}

.font_size{
    font-size: 30px;
}
.mission_image{
    height: 300px;
}

.mission_text{
    text-align: left;
}



.card_img{
    height: 250px;
}

.social-icon{
    margin: 5px 4px;
    text-decoration: none;
}


.theme-icon{
    height: 30px;
    width: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: none;
    background-color: white; 
  }
  .active-mode{
    border: 1.5px solid;    
  }
  .theme-dark{
    background-color: black;
    color: white;
  }
  .theme-light{
    background-color:white;
    color: black;
  }




 
.main-img{
    height: 400px;
    width: 600px;
    display: block;
    margin: 20px auto;
    background-color: rgb(251, 251, 252);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mainimg{
    width: 100px;
    height: 300px;
    padding: 10px 20px;
    display: block;
    margin: 0px auto;
    width: 200px;

}
.Product-preview{
    display: flex;
    justify-content: center;    
}

.preview{
height: 80px ;
width: 150px;
padding: 10px 20px;
object-fit: cover;
cursor: pointer;
border: 1px solid ;
border-radius: 5px;
margin: 10px;

}