body{
    background-color: #f2f2f2;
}

nav{
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.heading {
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: white;
    padding: 10px;
    font-family: "poppins" , "sans-serif";
    margin-bottom: 30px;

}

.introd_div{
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.main_image{
    height: 350px;
    width: 450px;
    border-radius: 10px;
}

.text_color{
    background-color: #09a803;
    height: 50px;
    color: hsl(120, 10%, 96%);
    font-size: x-large;
    border-radius: 10px;
}

.font_size{
    font-size: 30px;
}
.mission_image{
    height: 300px;
}

.mission_text{
    text-align: left;
}



.card_img{
    height: 250px;
}

.social-icon{
    margin: 5px 4px;
    text-decoration: none;
}