@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');

body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.height{
    height: 200px;
}
.theme-icon{
    height: 30px;
    width: 40px;
    cursor: pointer;
    padding: 10px;
    border-radius: none;
    background-color: white; 
  }
  .active-mode{
    border: 1.5px solid;    
  }
  .theme-dark{
    background-color: black;
    color: black;
  }
  .theme-light{
    background-color:white;
    color: black;
  }

.heading{
    text-align: center;
    font-size: 35px;
    margin-top: 20px
}
.bold{
    font: bold;
    font-size: 20px
}
.button{
    
    font-weight: 500;
    font-family: "poppins" , "sans-serif";
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.quantity-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-quantity{
    height: 25px;
}
.quantity-text{
    font-size: 25px;
    margin: auto 10px;
}
