.heading{
    text-align: center;
    font-size: 35px;
}
.button{
    background-color: ;
    font-weight: 500;
    font-family: "poppins" , "sans-serif";
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.quantity-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-quantity{
    height: 25px;
}
.quantity-text{
    font-size: 25px;
    margin: auto 10px;
}