.container{
    height: 500px;
    width: 900px;
    border: 0px solid;
    margin-top: 40px;
    border-radius: 10px;
    background-color:black;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     margin-bottom: 100px;

    
    
}

nav{
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
    }
    .user{
        height: 40px;
        width: 20px;
    }
    .name1{
        margin-top: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    .sub-container{
        height: 500px;
        background-color: aqua;
        
        
    }