@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');

.ip{
    font-family: "poppins" , "sans-serif"; 
}

.container{
    height: 500px;
    width: 900px;
    border: 0px solid;
    margin-top: 40px;
    border-radius: 10px;
    background-color:white;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     margin-bottom: 100px;

    
    
}

nav{
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        
    }
    .user{
        height: 40px;
        width: 20px;
        
    }
    .name1{
        margin-top: 20px;
        font-family: "poppins" , "sans-serif";
        font-size: 22px;
    }
    .sub-container{
        height: 500px;
        background-color: aqua;
        
        
    }

    @media (max-width: 587px) {
    
        .container{
            height: 450px;
            width: 380px;

        }
    
    }

     @media (max-width: 394px) {
    
        .container{
            height: 500px;
            width: 300px;

        }
    
    }































