.heading-seed{
    text-align: center;
    font-size: 35px;
    color: #8bc052
}
.button{
  background-color: ;
  font-weight: 500;
  font-family: "poppins" , "sans-serif";
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.quantity-btn-container{
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.btn-increase{
width:25px;
padding:3px;
cursor: pointer;
}
.quan-text{
margin: auto 10px;
cursor: pointer;
font-size: 25px;
}
.mode{
width: 20px;
}

/*javascript code css */

.theme-icon{
    height: 30px;
    width: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: none;
    background-color: white; 
  }
  .active-mode{
    border: 1.5px solid;    
  }
  .theme-dark{
    background-color: black;
    color: white;
  }
  .theme-light{
    background-color:white;
    color: black;
  }



  /*offer page css */
  .offer-logo{
    width: 200px;
    padding-left: 100px;
  }