/* Common CSS */

nav {
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container-1 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button{
    font-weight: 500;
    font-family: "poppins" , "sans-serif";
    border: none;
    border-radius: 5px;
    padding: 10px 50px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Update Page */
.img{
    height: 380px;
}
.img1{
    height: 400px;
    width: 503px;
}
.timer{
    width: 28%;
}


/* Media query : Book Meeting page */
@media screen and (max-width: 443px) {
    .card-img{
        width: 90%;
    }
}

/* Media query : Update_page */
@media screen and (max-width: 399px) {
    .container-1{
        width: 90%;
    }
    .timer{
        width: 40%;
        font-size: 25px;
    }
    .card-text{
        font-size: 17px;
    }
    .img-fluid{
        height: 100%;
    }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
    .container-1{
        width: 90%;
    }
    .timer{
        width: 34%;
    }
    .card-text{
        font-size: 19px;
    }
    .img-fluid{
        height: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .container-1{
        width: 90%;
    }
    .timer{
        width: 30%;
    }
    .card-text{
        font-size: 20px;
    }
    .img-fluid{
        height: 100%;
    }
}

@media screen and (min-width: 993px) {
    .timer{
        width: 30%;
    }
    .img-fluid{
        height: 100%;
    }
}

